/* 1. ROOT VARIABLES */
:root {
	--bg: #f7f7f7;
	--card: #ffffff;
	--muted_1: #909090;
	--muted_2: #eeeeee;
	--muted_3: #dcdcdc;
	--muted_4: #cccccc;
	--muted_5: #eeeeee7d;
	--hex_1: #cdd7ff95;
	--hex_2: #c4ebff58;
	--hex_3: #000000;
	--hex_4: #636363;
	--hex_5: #ffc4c458;
	font-family: 'Segoe UI', sans-serif, system-ui;
}

/* 2. BASE / HTML ELEMENTS */
body {
	background: var(--bg);
	color: var(--hex_3);
	user-select: none;
	font-size: 12px;
	height: 100%;
}

hr {
	margin: 12px 0;
	border: none;
	border-top: 1px solid var(--muted_2);
}

input, button.task {
	box-sizing: border-box;
	width: 100%;
	height: 33.6px;
}

textarea {
	transition: all 0.4s ease-in-out;
}

input:focus,
button:focus,
h2:focus, 
textarea {
	outline: none;
}

/* 3. COMPONENTS */

/* Card & Board */
.card {
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.04);
	background: var(--card);
	border-radius: 10px;
	padding: 15px;
}

.title {
	color: var(--muted_1);
	font-size: 18px;
	margin: 0 10px;
}

.field {
	border-radius: 10px;
	padding: 6px 8px;
	background: transparent;
	border: 1px solid var(--muted_4);
	font-size: inherit;
}

.board {
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 408px;
	gap: 5.6px;
	scrollbar-gutter: stable both-edges;
	scroll-behavior: smooth;
}

/* Tasks */
.task {
	text-align: left;
	border-radius: 10px;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: background 0.1s, color 0.1s, border-color 0.1s;
}

.selected,
.included {
	color: var(--hex_3);
	background-color: var(--hex_2);
	border: 1px solid var(--hex_2);
}

.excluded {
	color: var(--hex_3);
	background-color: var(--hex_5);
	border: 1px solid var(--hex_5);
}

.task.done {
	opacity: 0.4;
	text-decoration: line-through;
}

.task span {
	word-break: break-word;
}

/* Circles & Buttons */
.circle, .delete-list-btn {
	width: 16px;
	height: 16px;
	border: 1px solid var(--muted_1);
	opacity: 0.5;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.4s, color 0.4s, border-color 0.4s;
	flex-shrink: 0;
}

.circle {
	margin-right: 8px;
}

.delete-list-btn:hover,
.circle:hover {
	border-color: var(--hex_3);
	scale: 1.1;
}

.task.done .circle {
	opacity: 0.4;
	background-color: var(--muted_1);
	border-color: var(--hex_3);
}

.task.done .circle:hover {
	opacity: 0.8;
	background-color: var(--muted_2);
}

.btn-active {
	background-color: var(--muted_3) !important;
}

/* Task Details & Specific Inputs */
.details {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

textarea[disabled] { 
	opacity: 0.4;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

#input-date:hover {
    cursor: pointer;
}

#title-task {
	height: 40px;
	font-size: 18px;
}

#detail-task {
	flex-grow: 1;
	height: auto;
}

#current-list-title[contenteditable="false"]:hover {
    cursor: default;
}

#current-list-title {
	max-width: 450px;
	width: 100%; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.2s;
}

#current-list-title:focus {
	text-overflow: clip;
	overflow: hidden;
}

#current-list-title:hover {
	cursor: text;
	color: var(--hex_3);
}

#group {
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Modals */
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: 400px;
	max-width: 90%;
	display: flex;
	flex-direction: column;
}

/* 4. UTILITY CLASSES */
.click {
	cursor: pointer;
	transition: all 0.2s;
}

.click:hover {
	background: var(--muted_2);
	border-color: var(--muted_5);
}

.field.selected:hover {
	background: var(--hex_1);
	border-color: var(--muted_5);
}

.task.selected:hover {
	border: 1px solid var(--hex_1);
}

.click:active {
	background: var(--muted_3);
}

input.click:hover {
	cursor: text;
}

.dark {
	box-sizing: border-box;
	width: 100%;
	resize: none;
	font: inherit;
	color: var(--hex_3);
	background-color: var(--muted_5);
}

.max-width {
	max-width: 1400px;
}

.icon-button {
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-button svg {
	width: 18px;
	height: 18px;
}

/* 5. PSEUDO-ELEMENTS & PSEUDO-CLASSES */
::-webkit-scrollbar {
	display: none;
}

::selection {
	background-color: color-mix(in srgb, var(--hex_2), black 15%);
}

/* 6. Calendar related styles */
#calendar {
	grid-column: span 2;
	display: none;
}

/* 7. LAYOUT & GRID */
.layout {
	display: grid;
	grid-template-columns: 300px 1fr 450px;
	gap: 18px;
	margin: 40px auto;
	height: 100%;
}

.layout_1 {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.layout_2 {
	display: flex;
	justify-content: flex-start;
	gap: 8px;
}